POSTGRES_USER=mspr
POSTGRES_PASSWORD=mspr_password
POSTGRES_DB=mspr_electio
PGADMIN_DEFAULT_EMAIL=admin@mspr.com
PGADMIN_DEFAULT_PASSWORD=admin

DB_HOST=localhost
DB_PORT=5432
DB_NAME=mspr_electio
DB_USER=mspr
DB_PASSWORD=mspr_password

TARGET_DEPT_CODES=75,77,78,91,92,93,94,95
ALIGN_SOCIO_TO_ELECTION_YEARS=true
ENRICH_GEO_FROM_ODD=true
ENRICH_GEO_COORDS_FROM_GEO_API=true
USE_CIRC_CSV_FOR_ELECTION_COUNTS=true
LOAD_COMMUNE_RESULTS=false
LOAD_MUNICIPAL_RESULTS=false
MUNICIPAL_RESULTS_CSV_PATH=data/raw/external/municipales_commune.csv
