version: "3.9"

services:
  db:
    image: postgres:16
    container_name: mspr_pg
    restart: unless-stopped
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d:ro

volumes:
  pg_data:
